:root {
  /* colors */
  --color-primary: #181818;
  --color-secondary: #e67b00;
  --color-dark: #111111;
  --color-white: #ffffff;
  --color-grey: #898989;
  --color-light: #f2f2f2;

  /* font */
  --body-font: "Poppins", sans-serif;
  /* font size */
  --font-heading: 3.5rem;
  --font-secondaryHeading: 2.5rem;
  --font-h1: 1.5rem;
  --font-h2: 1.25rem;
  --font-h3: 1rem;
  --font-normal: 0.938rem;
  --font-small: 0.813rem;
  --font-smaller: 0.75rem;
  /* font weight */
  --weight-bold: 500;
  --weight-regular: 400;
  --weight-light: 300;
  --weight-thick: 800;

  /* distance */
  --d-1: 0.5rem;
  --d-2: 1rem;
  --d-3: 1.5rem;
  --d-4: 2rem;
  --d-5: 2.5rem;
  --d-6: 3rem;

  /* screen sizes */
  --container: 80vw;
  --full-height: 100vh;
  --full-width: 100vw;
}

/* base css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--body-font);
  background: var(--color-white);
  color: var(--color-dark);
  font-weight: var(--weight-regular);
  font-size: var(--font-normal);
}
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: var(--color-light);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-grey);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-secondary);
}
h1,
h2,
h3 {
  font-weight: var(--weight-bold);
}
h1 {
  font-size: var(--font-h1);
}
h2 {
  font-size: var(--font-h2);
}
h3 {
  font-size: var(--font-h3);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
p {
  font-weight: var(--weight-light);
  font-size: var(--font-h3);
  text-align: justify;
  line-height: var(--d-4);
  margin: var(--d-2) 0;
}
img {
  width: 100%;
}
/* base classes */
.container {
  max-width: var(--container);
  margin: auto;
}
.heading {
  font-size: var(--font-heading);
  font-weight: var(--weight-thick);
}
.heading--secondary {
  font-size: var(--font-secondaryHeading);
  font-weight: var(--weight-bold);
}
.subtitle {
  font-size: var(--font-small);
  font-weight: var(--weight-light);
  color: var(--color-grey);
  margin-bottom: var(--d-1);
}
.article__content {
  min-height: var(--full-height);
  margin-top: var(--d-3);
}
.article__header {
  text-align: center;
  padding: var(--d-2);
  margin-bottom: var(--d-4);
}
.btn {
  color: inherit;
  text-align: center;
  background: none;
  padding: var(--d-1);
  margin: var(--d-2) 0rem;
  display: inline-block;
  border-radius: 3px;
  transition: background 0.3s ease-in-out;
}
.btn--primary {
  background: var(--color-secondary);
  color: var(--color-white);
}
.btn--primary:hover {
  background: var(--color-grey);
}
/* header */
.header {
  height: var(--full-height);
  padding: var(--d-3) var(--d-5);
  background: var(--color-primary);
  position: relative;
  color: var(--color-white);
}
.header__nav {
  display: flex;
  justify-content: space-between;
}
.header__brand {
  font-size: var(--font-h2);
}
.header_brand_link {
  color: var(--color-white);
}
.header__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}
.header__link {
  color: var(--color-white);
  position: relative;
  transition: 0.2s ease-in-out;
}
.header__link:hover {
  color: var(--color-grey);
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75%;
}
.header__text {
  border-left: 6px solid var(--color-grey);
  padding-left: var(--d-2);
}
.header__cta {
  margin-top: var(--d-6);
  display: inline-block;
  color: var(--color-white);
  padding: var(--d-1) var(--d-2);
  border-radius: var(--d-1);
  text-align: center;
  background: var(--color-secondary);
  transition: background 0.3s ease-in-out;
}
.header__cta:hover {
  background: rgba(255, 255, 255, 0.2);
}
.header__socialLinks {
  display: flex;
  margin-top: var(--d-6);
}
.header__socialLink {
  margin-right: var(--d-5);
}
.header__image {
  border-radius: 50%;
  max-width: 18%;
}
.header__shape {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
.header__shape svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
  transform: rotateY(180deg);
}

.header__shape .shape-fill {
  fill: #ffffff;
}

/* about section */
.about__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about__text {
  width: 50%;
  padding-right: var(--d-4);
}
.about__infoGrid {
  margin-top: var(--d-6);
  display: flex;
  justify-content: space-between;
}
.about__card {
  background: var(--color-light);
  min-width: 30%;
  padding: var(--d-2);
  text-align: center;
}
.about__cardTitle {
  font-size: var(--font-secondaryHeading);
}
.about__img {
  width: 50%;
  padding-left: var(--d-4);
}
.about__content__education {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.about__workExperience {
  width: 45%;
}
.about__education {
  width: 45%;
}
.about__subHeading {
  display: flex;
  align-items: center;
}
.about__infoGroup {
  margin-top: var(--d-3);
  padding-bottom: var(--d-2);
  border-bottom: 1px solid var(--color-grey);
  margin-bottom: var(--d-1);
  min-width: 45%;
  height: 15%;
}
.about__subHeading__text {
  margin-left: var(--d-1);
}
.about__infoGroup__content {
  margin-top: var(--d-2);
  display: flex;
  justify-content: space-between;
}
.about__info {
  font-size: var(--font-small);
}
.about__certification {
  margin-top: var(--d-6);
}
.about_certification_content {
  display: flex;
  justify-content: space-between;
}
.about__certification_img {
  max-width: 45%;
}
/* services */
.services__items {
  display: flex;
  justify-content: space-between;
}
.services__card {
  padding: var(--d-2);
  display: flex;
  align-items: center;
  background: var(--color-light);
  max-width: 33%;
}
.services__card__body {
  text-align: center;
}
.services__card:nth-child(2) {
  margin: 0 var(--d-3);
}
.services__card__title {
  margin: var(--d-2) 0rem;
  font-weight: var(--weight-bold);
  font-size: var(--font-h2);
}
.section__card__text {
  font-weight: var(--weight-regular);
  line-height: initial;
  font-size: var(--font-small);
}
.services__cta {
  margin-top: var(--d-3);
  padding: var(--d-3);
  display: flex;
  justify-content: space-between;
}
.services__cta__img {
  width: 50%;
}
.services__cta__content {
  width: 45%;
  display: flex;
}

/* portfolio */
.portfolio__cardGrid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.portfolio__card {
  max-width: 30%;
  background: var(--color-light);
  border-radius: 5px;
  margin-bottom: var(--d-4);
}
.portfolio__card__cardImage {
  margin-bottom: var(--d-4);
  padding: var(--d-1);
  height: 60%;
}
.portfolio__card__content {
  padding: var(--d-2);
}
.portfolio__card__link {
  margin-top: var(--d-1);
  display: inline-block;
  font-size: var(--font-small);
  font-weight: var(--weight-bold);
  color: var(--color-secondary);
  transition: color 0.3s ease-in-out;
}
.portfolio__card__link:hover {
  color: var(--color-grey);
}
