:root {
  /* colors */
  --color-primary: #181818;
  --color-secondary: #e67b00;
  --color-dark: #111111;
  --color-white: #ffffff;
  --color-grey: #898989;
  --color-light: #f2f2f2;

  /* font */
  --body-font: "Poppins", sans-serif;
  /* font size */
  --font-heading: 3.5rem;
  --font-secondaryHeading: 2.5rem;
  --font-h1: 1.5rem;
  --font-h2: 1.25rem;
  --font-h3: 1rem;
  --font-normal: 0.938rem;
  --font-small: 0.813rem;
  --font-smaller: 0.75rem;
  /* font weight */
  --weight-bold: 500;
  --weight-regular: 400;
  --weight-light: 300;
  --weight-thick: 800;

  /* distance */
  --d-1: 0.5rem;
  --d-2: 1rem;
  --d-3: 1.5rem;
  --d-4: 2rem;
  --d-5: 2.5rem;
  --d-6: 3rem;

  /* screen sizes */
  --container: 85vw;
  --full-height: 100vh;
  --full-width: 100vw;
}

/* base css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--body-font);
  background: var(--color-white);
  color: var(--color-dark);
  font-weight: var(--weight-regular);
  font-size: var(--font-normal);
}
h1,
h2,
h3 {
  font-weight: var(--weight-bold);
}
h1 {
  font-size: var(--font-h1);
}
h2 {
  font-size: var(--font-h2);
}
h3 {
  font-size: var(--font-h3);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
p {
  font-weight: var(--weight-light);
  font-size: var(--font-h3);
  text-align: justify;
  line-height: var(--d-4);
  margin: var(--d-2) 0;
}
img {
  width: 100%;
}
/* base classes */
.container {
  max-width: var(--container);
  margin: auto;
}
.heading {
  font-size: var(--font-heading);
  font-weight: var(--weight-thick);
}
.heading--secondary {
  font-size: var(--font-secondaryHeading);
  font-weight: var(--weight-bold);
}
.article__content {
  min-height: var(--full-height);
}
.article__header {
  text-align: center;
  padding: var(--d-2);
  margin-bottom: var(--d-4);
}
/* header */
.header {
  height: var(--full-height);
  padding: var(--d-3) var(--d-5);
  background: var(--color-primary);
  position: relative;
  color: var(--color-white);
}
.header__nav {
  display: flex;
  justify-content: space-between;
}
.header__brand {
  font-size: var(--font-h2);
}
.header_brand_link {
  color: var(--color-white);
}
.header__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
}
.header__link {
  color: var(--color-white);
  position: relative;
  transition: 0.2s ease-in-out;
}
.header__link:hover {
  color: var(--color-grey);
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75%;
}
.header__text {
  border-left: 6px solid var(--color-grey);
  padding-left: var(--d-2);
}
.header__cta {
  margin-top: var(--d-6);
  display: inline-block;
  color: var(--color-white);
  padding: var(--d-1) var(--d-2);
  border-radius: var(--d-1);
  text-align: center;
  background: var(--color-secondary);
  transition: background 0.3s ease-in-out;
}
.header__cta:hover {
  background: rgba(255, 255, 255, 0.2);
}
.header__socialLinks {
  display: flex;
  margin-top: var(--d-6);
}
.header__socialLink {
  margin-right: var(--d-5);
}
.header__image {
  border-radius: 50%;
  max-width: 18%;
}
.header__shape {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
.header__shape svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
  transform: rotateY(180deg);
}

.header__shape .shape-fill {
  fill: #ffffff;
}

/* about section */
.about__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about__text {
  width: 50%;
  padding-right: var(--d-4);
}
.about__infoGrid {
  margin-top: var(--d-6);
  display: flex;
  justify-content: space-between;
}
.about__card {
  background: var(--color-light);
  min-width: 30%;
  padding: var(--d-2);
  text-align: center;
}
.about__cardTitle {
  font-size: var(--font-secondaryHeading);
}
.about__img {
  width: 50%;
  padding-left: var(--d-4);
}
